---
import Base from '@/layouts/Base.astro';
import { allBlogPosts } from '@/content';
import BlogPosts from '@/components/BlogPosts.astro';

const posts = [...allBlogPosts].sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base title='Blog' type='website'>
	<section>
		<BlogPosts posts={posts} />
	</section>
</Base>
