---
import Base from '@/layouts/Base.astro';
---

<Base title='About Me' type='website'>
	<h2>このサイトについて</h2>
	<p>このサイトは、Astroを用いて作成しGitHub Pagesによりホスティングされています。</p>
	<p>リポジトリの本体は<a href="https://github.com/hydrogend/hydrogen1.dev/">https://github.com/hydrogend/hydrogen1.dev/</a>にあります。</p>
</Base>
