---
import Base from '@/layouts/Base.astro';
---

<Base title='About Me' type='website'>
    <div class="text-center">
        <div class="rounded-full bg-black inline-block w-32 h-32"></div>
        <p class="font-semibold text-3xl">hydrogen</p>
    </div>
	<div class="my-4">
		<h2>Affiliation</h2>
    	<ul>
        	<li>電気通信大学 情報理工学域I類コンピュータサイエンスプログラム 3年</li>
        	<li>電気通信大学MMA</li>
        	<li>電気通信大学東方Project同好会 電々。通信</li>
    	</ul>
	</div>
	<div class="my-4">
		<h2>Links</h2>
		<ul>
			<li><a href="https://x.com/Hydrogen_D1">Twitter (@Hydrogen_D1)</a></li>
			<li><a href="https://bsky.app/profile/hydrogen1.dev">BlueSky (@hydrogen1.dev)</a></li>
			<li><a href="https://github.com/hydrogend">GitHub (@hydrogend)</a></li>
		</ul>
	</div>
	<div class="my-4">
		<h2>このサイトについて</h2>
		<p>このサイトは、Astroを用いて作成しGitHub Pagesによりホスティングされています。</p>
		<p>リポジトリの本体は<a href="https://github.com/hydrogend/hydrogen1.dev/">https://github.com/hydrogend/hydrogen1.dev/</a>にあります。</p>
	</div>
</Base>
