---
import HeaderLink from './HeaderLink.astro';
---

<header class="m-0 px-4 py-0 bg-gray-100 ">
	<nav class="flex items-center justify-between align-middle">
		<h2 class="m-0 text-xl">
			<div class="bg-black rounded-full inline-block w-6 mt-2 before:pt-[100%] before:block"></div>
			<a href="/" class="no-underline">Hydrogen's Site</a>
		</h2>
		<div class="">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about/">About</HeaderLink>
			<HeaderLink href="/blog/">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav a, nav span {
		padding: 1rem 0.5rem;
		color: var(--black);
		border-bottom: 4px solid transparent;
	}
</style>
