---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const sub = pathname.match(/.([^\/]*?)\//g);
const isActive = href === pathname;
const underline = isActive || (sub && href === sub[0]);
---

{isActive ? <span class:list={[className, "underline", "font-semibold", "px-4", "py-2"]}>
	<slot />
</span> : 
underline ? <a href={href} class:list={[className, "underline", "font-semibold"]} {...props}>
	<slot />
</a> : <a href={href} class:list={[className, "underline", "ease-in-out", "delay-200", "duration-200", "decoration-transparent", "hover:decoration-black"]} {...props}>
	<slot />
</a>}
